# Environment variables / secrets
.env
*.env
**/.env
.env.*
!.env.example

# Python cache
__pycache__/
*.py[cod]

# Python build artifacts
*.egg-info/
dist/
build/
*.egg

# macOS
.DS_Store


.idea/
.venv/
venv/